<app-playground-example-card [heading]="'input.examples.autoFocus' | transloco">
  <div
    role="group"
    [attr.aria-label]="'input.accessibility.autoFocusGroup' | transloco"
    class="input-auto-focus__content"
  >
    <div class="input-auto-focus__row">
      <button
        kuiButton
        shape="ghost"
        size="sm"
        type="button"
        [disabled]="mounted()"
        (click)="mounted.set(true)"
      >
        {{ 'input.autoFocus.mount' | transloco }}
      </button>
      @if (mounted()) {
        <input
          kuiInput
          kuiAutoFocus
          [attr.aria-label]="'input.autoFocus.mountedField' | transloco"
        />
      }
    </div>

    <div class="input-auto-focus__row">
      <button
        kuiButton
        shape="ghost"
        size="sm"
        type="button"
        [attr.aria-pressed]="requested()"
        (click)="requested.set(!requested())"
      >
        {{ 'input.autoFocus.request' | transloco }}
      </button>
      <input
        kuiInput
        [kuiAutoFocus]="requested()"
        [attr.aria-label]="'input.autoFocus.requestedField' | transloco"
      />
    </div>

    <div class="input-auto-focus__row">
      <button kuiButton shape="ghost" size="sm" type="button" (click)="open()">
        {{ 'input.autoFocus.openDialog' | transloco }}
      </button>
    </div>
  </div>
</app-playground-example-card>
