.select-page__field {
  inline-size: 100%;
}

.select-page__field--sm {
  max-inline-size: 240px;
}

.select-page__field--md {
  max-inline-size: 280px;
}

.select-page__field--lg {
  max-inline-size: 360px;
}
