<app-playground-example-card [heading]="'select.examples.keyboard' | transloco">
  <div role="group" [attr.aria-label]="'select.accessibility.keyboard' | transloco">
    <kui-field
      [label]="'select.fields.keyboard' | transloco"
      [hint]="'select.hints.keyboard' | transloco"
    >
      <input kuiSelect [(value)]="value" [placeholder]="'select.placeholders.role' | transloco" />
      <kui-dropdown>
        <div kuiOption value="designer">{{ 'select.options.designer' | transloco }}</div>
        <div kuiOption value="engineer">{{ 'select.options.engineer' | transloco }}</div>
        <div kuiOption value="manager" disabled>{{ 'select.options.manager' | transloco }}</div>
        <div kuiOption value="researcher">{{ 'select.options.researcher' | transloco }}</div>
      </kui-dropdown>
    </kui-field>
  </div>
</app-playground-example-card>
