@layer app.components {
  :host {
    display: contents;
  }

  .loader-playground {
    display: grid;
    gap: var(--kui-space-6);
    min-inline-size: 0;
    min-block-size: 0;
    padding: var(--kui-space-8);
  }

  .loader-playground h1 {
    margin: 0;
  }

  .loader-playground__default {
    display: flex;
    align-items: center;
    min-block-size: var(--kui-space-8);
  }

  @media (width < 48rem) {
    .loader-playground {
      padding: var(--kui-space-6);
    }
  }
}
