<div class="media-viewer-state-examples__actions">
  <button kuiButton shape="outline" type="button" (click)="openLoading()">
    {{ 'mediaViewer.actions.openLoading' | transloco }}
  </button>

  <button kuiButton shape="outline" type="button" (click)="openBroken()">
    {{ 'mediaViewer.actions.openBroken' | transloco }}
  </button>

  <button kuiButton shape="outline" type="button" (click)="openBrokenGallery()">
    {{ 'mediaViewer.actions.openBrokenGallery' | transloco }}
  </button>

  <button kuiButton shape="outline" type="button" (click)="openWithoutIds()">
    {{ 'mediaViewer.actions.openWithoutIds' | transloco }}
  </button>
</div>
