<app-playground-example-card [heading]="'button.examples.states' | transloco">
  @let isInteractiveLoading = interactiveLoading();

  <div
    class="button-states__examples"
    role="group"
    [attr.aria-label]="'button.accessibility.states' | transloco"
  >
    <button kuiButton type="button">
      {{ 'button.actions.default' | transloco }}
    </button>

    <button kuiButton type="button" disabled>
      {{ 'button.actions.disabled' | transloco }}
    </button>

    <button kuiButton type="button" [loading]="true">
      {{ 'button.actions.loading' | transloco }}
    </button>

    <a kuiButton href="/components/button" disabled>
      {{ 'button.actions.disabledLink' | transloco }}
    </a>

    <button kuiButton type="button" [loading]="isInteractiveLoading">
      {{ 'button.actions.interactiveSave' | transloco }}
    </button>

    <button kuiButton type="button" shape="ghost" (click)="toggleInteractiveLoading()">
      {{
        (isInteractiveLoading ? 'button.actions.resetLoading' : 'button.actions.startLoading')
          | transloco
      }}
    </button>
  </div>
</app-playground-example-card>
