<section role="group" [attr.aria-label]="'datePicker.accessibility.default' | transloco">
  <app-playground-example-card [heading]="'datePicker.examples.default' | transloco">
    <kui-field [label]="'datePicker.fields.meetingDate' | transloco">
      <input kuiDatePicker />
      <kui-dropdown panelRole="dialog" panelWidth="auto" maxHeight="420px">
        <kui-calendar flat [locale]="calendarLocale()" class="date-picker-calendar" />
      </kui-dropdown>
    </kui-field>
  </app-playground-example-card>
</section>
