<section role="group" [attr.aria-label]="'datePicker.accessibility.selected' | transloco">
  <app-playground-example-card [heading]="'datePicker.examples.selected' | transloco">
    <kui-field [label]="'datePicker.fields.preselectedDate' | transloco">
      <input kuiDatePicker [(value)]="selectedDate" [(viewDate)]="viewDate" />
      <kui-dropdown panelRole="dialog" panelWidth="auto" maxHeight="420px">
        <kui-calendar flat [locale]="calendarLocale()" class="date-picker-calendar" />
      </kui-dropdown>
    </kui-field>
  </app-playground-example-card>
</section>
