<app-panel
  num="01"
  title="Group primitive"
  description="Horizontal and vertical grouped native controls."
>
  <div class="component-board">
    <div kuiGroup collapsed>
      <button kuiButton appearance="outline" type="button">Left</button>
      <button kuiButton appearance="outline" type="button">Center</button>
      <button kuiButton appearance="outline" type="button">Right</button>
    </div>

    <div kuiGroup collapsed size="sm">
      <button kuiButton appearance="outline" type="button">One</button>
      <button kuiButton appearance="outline" type="button">Two</button>
      <button kuiIconButton appearance="outline" aria-label="More" type="button">
        <kui-icon name="spark" />
      </button>
    </div>

    <div kuiGroup collapsed orientation="vertical" class="group-demo-vertical">
      <button kuiButton appearance="outline" type="button">Top</button>
      <button kuiButton appearance="outline" type="button">Middle</button>
      <button kuiButton appearance="outline" type="button">Bottom</button>
    </div>
  </div>
</app-panel>
