@layer kui.components {
  [data-kui-density='compact'] {
    --kui-btn-px: var(--kui-btn-px-compact, 8px);
    --kui-input-px: var(--kui-btn-px-compact, 8px);
  }

  [data-kui-density='regular'] {
    --kui-btn-px: var(--kui-btn-px-regular, 12px);
    --kui-input-px: var(--kui-btn-px-regular, 12px);
  }

  [data-kui-density='comfortable'] {
    --kui-btn-px: var(--kui-btn-px-comfortable, 16px);
    --kui-input-px: var(--kui-btn-px-comfortable, 16px);
  }
}
