<app-dialog-example-actions>
  <button kuiButton shape="outline" type="button" (click)="openNoCloseDialog()">
    {{ 'dialog.actions.openNoClose' | transloco }}
  </button>
  <button kuiButton shape="outline" type="button" (click)="openLockedDialog()">
    {{ 'dialog.actions.openLocked' | transloco }}
  </button>
  <button kuiButton shape="outline" type="button" (click)="openTitleExampleDialog()">
    {{ 'dialog.actions.openTitleExample' | transloco }}
  </button>
  <button kuiButton shape="outline" type="button" (click)="openLongBodyDialog()">
    {{ 'dialog.actions.openLongBody' | transloco }}
  </button>
  <button kuiButton shape="outline" type="button" (click)="openUnnamedDialog()">
    {{ 'dialog.actions.openUnnamed' | transloco }}
  </button>
</app-dialog-example-actions>

@if (result(); as message) {
  <p class="dialog-example-result" role="status">{{ message }}</p>
}
